* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameboard {
    background-color: #2b2f31;
    border: 5px solid rgb(157, 157, 173);
    height: 550px;
    width: 550px;
    padding: 5px;
}

.answerBox {
    display: flex;
    font-size: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #495054;
}

.letter {
    display: inline-flex;
    background-color:#737d81;
    border: 5px solid #b5c2c7;
    height: 100px;
    width: 100px;
    margin: 10px 5px 15px;
    align-items: center;
    justify-content:center;
}

.right {
    color: #62c066;
}

.sorta {
    color: #fdfd9a;
}

/* darkest: #495054, lightest: #e3e8ea*/

/*
.word-row {
    display:flex;
    justify-content: space-between;
    padding: 5px;
}

.letterbox {
    background-color: lightblue;
    border: 2px solid white;
    height: 100px;
    width: 100px;
    padding: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    text-align: center;
}*/